* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: sandybrown;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 5px;
}

body {
  padding: 20px;
  margin: 20px;
}

button {
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

body > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

head {
  display: none;
}
